<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">Update Authors</h1>


<form action="/upAuthors" method="post" th:each="author:${authors}">
   <input type="text" name="name" th:value="${author.name}">
   <input type="text" name="surname" th:value="${author.surname}">
   <input type="text" name="email" th:value="${author.email}">
   <select name="gender" th:value="${author.gender}">
      <option value="MALE">MALE</option>
      <option value="FEMALE">FEMALE</option>
   </select><br><br>
    <textarea  name="bio" placeholder="Please input your bio" th:value="${author.bio}"style="text-align: center">  </textarea><br><br>
    <input type="submit" value="Update"><br><br>

</form>
    <a href="/" style="text-align: center">Home page</a><br><br>
    <a href="/allAuthors" style="text-align: center">Authors List</a>
</body>
</html>