<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">Update Books</h1>
<form action="/addBook" method="post"th:each="book:${books}">

    <input type="hidden" name="id" th:value="${book.id}">
    <input type="text" name="title"  th:value="${book.title}">-->
        <textarea type="text" name="description"  th:text="${book.description}"></textarea>
        <input type="number" name="price" th:value="${book.price}">
        <select name="author.id" th:value="${book.author}">
            <option th:each="author:${authors}"  th:text="${author.name}" th:value="${author.id}" th:selected="${book.author.id==author.id}"></option>
        </select><br><br>
        <input type="submit" value="Update"><br><br>
</form>

<!--<form action="/addBook" method="post" th:each="book:${books}">-->
<!--    <input type="text" name="title"  th:value="${book.title}">-->
<!--    <textarea type="text" name="description"  th:text="${book.description}"></textarea>-->
<!--    <input type="number" name="price" th:value="${book.price}">-->
<!--    <select name="author.id" th:value="${book.author}">-->
<!--        <option th:each="author:${authors}"  th:text="${author.name}" th:value="${author.id}" th:selected="${book.author.id==author.id}"></option>-->
<!--    </select><br><br>-->
<!--    <input type="submit" value="Update"><br><br>-->

<!--</form>-->


<a href="/" style="text-align: center">Home page</a><br><br>
<a href="/allBooks" style="text-align: center"> LIst Book</a>

</body>
</html>